#gradient {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
	background: white;
}

.header {
    display: flex;
    margin: 40px;
}

.logo {
    position: absolute;
    width: 70px;
    height: 70px;
}

h1 {
    position: relative;
    font-size: 20px;
    font-style: bold;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    width: 500px;
    top: 10px;
    margin: auto;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.521); */
    padding-bottom: 20px;
}

.main {
    position: relative;
    width: auto;
    height: 100%;
}

.circle {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0px auto;
    margin-bottom: 50px;
    border: 2px solid rgba(255,255,255,0.5);
}

.colors {
    width: 600px;
    margin: 0px auto;
    text-align: center;
}

span {
    position: relative;
    bottom: 30px;
    text-decoration: underline;
    letter-spacing: 2px;
    font-weight: bolder;
}

input[type="color"]{
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
    border-radius: 100px;
    margin-bottom: 20px;
    outline: none;
    background: none;
    border: 2px solid rgba(255,255,255,0.5);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
}

.buttons {
    opacity: 0;
    transition: 0.5s all ease-in-out;
    transition-delay: 0.2s;
}

input[type="button"] {
    cursor: pointer;
}

input[type="button"] {
    outline: none;
    border: none;
    width: auto;
    height: 60px;
    font-family: tahArial, Helvetica, sans-serifoma;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

input[type="button"]:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid black;
}



/* .button{
    
}

.button:hover{
   background: rgba(255,255,255,0.7);
}

.button1{
    outline: none;
    width: auto;
    height: 60px;
    font-family: tahArial, Helvetica, sans-serifoma;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    background: rgba(255,255,255,0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button1:hover{
   background: rgba(255,255,255,0.7);
}

.button2{
    outline: none;
    width: auto;
    height: 60px;
    font-family: tahArial, Helvetica, sans-serifoma;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button2:hover{
   
} */

.copy {
    width: 1px;
    position:absolute;
    right: 120%;
}

/* .message {
    color: red;
    letter-spacing: 0.2em;
} */

h3 {
	font: 600 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}


/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: lighter;
  text-transform: none;
  text-decoration: none;
  width: auto;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 5px;
  padding-left: 15px;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltip text */
  position: relative;
  z-index: 1;
  bottom: 90px;
  left: 17%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltiptext::after {
  content: "";
  position: relative;
  bottom: -20px;
  left: -2.5%;
  z-index: 1;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
/* .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} */
