html {
    margin: 0px;
    padding: 0px;
}

#gradient {
    font-family: 'Montserrat', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    letter-spacing: .5em;
	background: white;
}

.header {
    display: flex;
    margin: 40px;
}

.logo {
    position: absolute;
    width: 70px;
    height: 70px;
}

h1 {
    position: relative;
    font-size: 20px;
    font-style: bold;
    color: rgba(240, 26, 26, 0.5);
    text-align: center;
    text-transform: uppercase;
    width: 500px;
    top: 10px;
    margin: auto;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.521); */
    padding-bottom: 20px;
}

.main {
    position: relative;
    width: auto;
    height: 100%;
}

.circle {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0px auto;
    margin-bottom: 50px;
    border: 2px solid rgba(255,255,255,0.5);
}

.colors {
    width: 600px;
    margin: 0px auto;
    text-align: center;
}

span {
    position: relative;
    bottom: 30px;
    text-decoration: underline;
    letter-spacing: 2px;
    font-weight: bolder;
}

input[type="color"]{
    width: 70px;
    height: 70px;
    padding: 0;
    margin: 0;
    border-radius: 100px;
    margin-bottom: 20px;
    outline: none;
    background: none;
    border: 2px solid rgba(255,255,255,0.5);
    /* animation-duration: 1s;
    animation-name: pulse;
    animation-direction: alternate;
    animation-iteration-count: 8;
    animation-delay: 5s; */
}

/* @keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
      transform: scale(0.8);
  }
} */

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
}

.buttons {
    opacity: 0;
    transition: 0.5s all ease-in-out;
    transition-delay: 0.2s;
}

input[type="button"] {
    cursor: pointer;
    margin-top: 10px;
}

input[type="button"] {
    outline: none;
    border: none;
    width: auto;
    height: 60px;
    font-family: tahArial, Helvetica, sans-serifoma;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

input[type="button"]:hover {
    background: linear-gradient(to right, rgb(244, 61, 133), rgb(224, 75, 94));
    color: rgb(255, 255, 255);
}

.modal {
    background-color:rgba(0, 0, 0, 0.8);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.modal-content {
    position: absolute;
    letter-spacing: normal;
    width: 500px;
    height: 300px;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%); 
    padding: 20px;
    background-color: white;
    box-shadow: 0px 3px solid #ccc;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
}

.modal-content div {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.modal-content h1 {
    font-weight: bolder;
    font-size: 2rem;
}

.modal-content button {
    outline: none;
    border: none;
    padding: 20px;
    margin-bottom: 10px;
    background: linear-gradient(to right, rgb(244, 61, 133), rgb(224, 75, 94));
    color: white;
    font-weight: bold;
    transition: 0.2s all ease-in-out;
}

.modal-content button:hover {
    box-shadow: 0px 4px 15px rgba(244, 61, 133, 0.8); 
}

/* .button{
    
}

.button:hover{
   background: rgba(255,255,255,0.7);
}

.button1{
    outline: none;
    width: auto;
    height: 60px;
    font-family: tahArial, Helvetica, sans-serifoma;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    background: rgba(255,255,255,0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button1:hover{
   background: rgba(255,255,255,0.7);
}

.button2{
    outline: none;
    width: auto;
    height: 60px;
    font-family: tahArial, Helvetica, sans-serifoma;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button2:hover{
   
} */

.copy {
    width: 1px;
    position:absolute;
    right: 120%;
}

/* .message {
    color: red;
    letter-spacing: 0.2em;
} */


/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: lighter;
  text-transform: none;
  text-decoration: none;
  width: auto;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 5px;
  padding-left: 15px;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltip text */
  position: relative;
  z-index: 1;
  bottom: 90px;
  left: 17%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltiptext::after {
  content: "";
  position: relative;
  bottom: -20px;
  left: -2.5%;
  z-index: 1;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
/* .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} */

@media (max-width: 500px), (max-width:550px ) {

    #gradient {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }

    .header {
        display: block;
        position: relative;
        top: -10px;
    }

    .logo {
        position: relative;
        width: 50px;
        height: 50px;
    }

    h1 {
        width: fit-content;
        font-size: 15px;
        font-style: bold;
        color: rgba(240, 26, 26, 0.5);
        margin: 0px auto;
        text-transform: uppercase;
        text-align: center;
    }

    .main {
        position: absolute;
        width: 100vw;
        height: auto;
    }

    .circle {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: 0px auto;
        margin-bottom: 50px;
        border: 2px solid rgba(255,255,255,0.5);
    }

    .colors {
        position: relative;
        width: 100vw;
        text-align: center;
    }

    span {
        position: relative;
        bottom: 30px;
        text-decoration: underline;
        letter-spacing: 2px;
        font-weight: bolder;
        font-size: 0.5rem;
    }

    input[type="color"]{
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;
        border-radius: 100px;
        margin-bottom: 20px;
        outline: none;
        background: none;
        border: 2px solid rgba(255,255,255,0.5);
    }

    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input[type="color"]::-webkit-color-swatch {
        border: none;
        border-radius: 50px;
    }

    .buttons {
        opacity: 0;
        transition: 0.5s all ease-in-out;
        transition-delay: 0.2s;
    }

    input[type="button"] {
        cursor: pointer;
        font-size: 0.5rem;
        position: relative;
        outline: none;
        border: none;
        font-family: tahArial, Helvetica, sans-serifoma;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }

    input[type="button"]:nth-child(3) {
        margin-top: 10px;
    }

    input[type="button"]:hover {
    background: linear-gradient(to right, rgb(244, 61, 133), rgb(224, 75, 94));
        color: rgb(255, 255, 255);
    }

    .modal {
        background-color:rgba(0, 0, 0, 0.8);
        position:fixed;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        z-index:1000;
        transition: 0.2s all ease-in-out;
    }

    .modal-content {
        position: absolute;
        letter-spacing: normal;
        width: 80vw;
        height: 33vh;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%); 
        padding: 5px;
        background-color: white;
        border-radius: 5px;
        transition: 0.2s all ease-in-out;
        font-size: 12px;
    }

    .modal-content div {
        position: absolute;
        width: 80vw;
        top: 50%; 
        left: 50%;
        transform: translate(-50%,-50%);
        }

    .modal-content h1 {
        font-weight: bolder;
        font-size: 20px;
    }

    .modal-content button {
        outline: none;
        border: none;
        padding: 20px;
        margin-top: 7px;
        background: linear-gradient(to right, rgb(244, 61, 133), rgb(224, 75, 94));
        color: white;
        transition: 0.2s all ease-in-out;
    }

    .copy {
        width: 1px;
        position:absolute;
        right: 120%;
    }

    /* Tooltip text */
    .tooltiptext {
    visibility: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: lighter;
    text-transform: none;
    text-decoration: none;
    width: auto;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 5px;
    padding-left: 15px;
    text-align: center;
    border-radius: 6px;

    /* Position the tooltip text */
    position: relative;
    z-index: 1;
    bottom: 90px;
    left: 7%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    }

    /* Tooltip arrow */
    .tooltiptext::after {
    content: "";
    position: relative;
    bottom: -20px;
    left: -2.5%;
    z-index: 1;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    }
}

@media (max-width: 370px) {
    .modal-content div{
        font-size: 0.6rem;
    }

    .modal-content h1 {
        font-weight: bolder;
        font-size: 20px;
    }

    .modal-content button {
        outline: none;
        border: none;
        padding: 20px;
        margin-top: 7px;
        font-size: 0.5rem;
        background: linear-gradient(to right, rgb(244, 61, 133), rgb(224, 75, 94));
        color: white;
        transition: 0.2s all ease-in-out;
    }
}
